<!DOCTYPE html>
<html lang="en">
<head>
    <title>AVi</title>
    <%- include('head'); -%>
</head>
<body>
<header>
    <%- include('navbar');%>
</header>
<div class="flex">
    <div class="flex-element-choicebar">
    <%- include('choicebar'); -%>
    </div>

    <div class="flex-element-display">

        <%- include('chosenOptions'); -%>
        <%- include('displayDataChart'); -%>
    </div>
</div>
</body>
</html>