<!DOCTYPE html>
<html lang="en">
<head>
    <title>AVi</title>
    <%- include('head'); -%>
</head>
<body>

<div class="wrapper">
    <header>
        <%- include('navbar');%>
    </header>
    <div style="flex: 1;">
    <div class="flex">
        <div class="flex-element-choicebar">
        <%- include('choicebar'); -%>
        </div>

        <div class="flex-element-display">

            <%- include('chosenOptions'); -%>
            <%- include('displayDataChart'); -%>
        </div>
    </div>
    </div>
    <footer>
        <%- include('footer'); -%>
    </footer>

</div>

</body>
</html>